/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #0e739b;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
  padding-left: 20px;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1b85ae;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1b85ae;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1b85ae;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #0e739b;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #0e739b;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #0e739b;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1b85ae;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1b85ae;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;

  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;

}
.home-section .text{
  display: inline-block;
  color: #0e739b;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
  
.content-table thead tr {
    background-color: #1b85ae;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
  
.content-table th,
.content-table td {
    padding: 12px 30px;
}
  
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
  
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
  
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #1b85ae;
}

.home-section .container .btn-primary {
    padding: 8px 12px;
    border-radius: 5px;
    border: 0;
    background: #1b85ae;
    color: #FFF;
}

.home-section .container .btn-danger {
    padding: 8px 12px;
    border-radius: 5px;
    border: 0;

    background: #c73626;
    color: #FFF;
}



input[type=email], select {
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=tel], select {
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=datetime-local], select {
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    font-size: 15px;
    background-color: #1b85ae;
    color: white;
    padding: 8px 12px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=button] {
    font-size: 15px;
    background-color: #a5d6eb;
    color: white;
    padding: 8px 12px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=button], select {
    font-size: 15px;
    background-color: #a5d6eb;
    color: white;
    padding: 8px 12px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=reset], select {
    font-size: 15px;
    background-color: #a5d6eb;
    color: white;
    padding: 8px 12px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

textarea{
    padding: 12px 15px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.center{
  margin: 0;
 
  left: 50%;
  top: 5%;
}

.size-style {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 20px;
}

.gallery{
  display:flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

.content-product{
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius:20px;
  cursor: pointer;
  padding-top: 20px;
  box-shadow:  0 14px 28px rgb(0,0,0,0.25),
  0 10px 10px rgba(0,0,0,0.22);
  transition: .4s;
  background: #f2f2f2;
}

.content-product:hover{
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.img-product{
    width:200px;
    height:200px;
    text-align:center;
    margin: 0 auto;
    display: block; 
}

.p-product{
  text-align: center;
  color:#b2bec3;
  padding:0 3% 0 3%;
}

.size-h6{
  font-size:26px;
  text-align:center;
  color:#222f3e;
  margin: 0;
}

.ul-star{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:0;
}
.li-star{
  padding-top:5px;
}
.fa{
  font-size: 26px;
  transition: .4s;
  margin:3px;
}

.checked-star{
  color: #ff9f43;
}

.fa:hover{
  transform:scale(1.3);
  transition: .6s;
}

.button-product{
 text-align: center;
 font-size: 24px;
 color: #fff;
 width:100%;
 padding:15px;
 border: 0;
 outline: none;
 cursor: pointer;
 margin-top: 10px;
 border-bottom-right-radius: 20px;
 border-bottom-left-radius: 20px;
}

.buy{
background-color: #ff9f43;

}

@media(max-width:1920px){
  .content-product{
    width: 20%;
  }
}

@media(max-width:1030px){
  .content-product{
    width: 43%;
  }
}

@media(max-width:800px){
  .content-product{
    width: 45%;
  }
}

@media(max-width:700px){
  .content-product{
    width: 95%;
  }
}

.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2{
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img{
  max-width: 100%;
}

.small-container{
  max-width: 1080px;
  margin:auto;
  padding-left: 25px;
  padding-right: 25px;
}

.single-product .col-2 img{
  padding: 0 5px 0 5px;
}

.single-product .col-2{
  padding: 20px;
}

.single-product h1{
  font-size: 40px;
}

.single-product h4{
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
  color: #555;
}

.single-product input{
  width: 50px;
  height: 40px;
  padding-left: 10px;
  font-size:20px;
  margin-right: 10px;
  border: 1px solid;
}

.btn2{
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 10px 0;
  border-radius: 30px;
}

.single-product .fa{
  color: #ff523b;
  margin-left:10px;
}

.font-color{  
  color: #555;}

.small-img-row{
  display: flex;
  justify-content: space-between;
}

.small-img-col{
  flex-basis:100%;
  cursor: pointer;
}